body {
    background-color:#f7fafc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container > input {
    background-color: #f7fafc;
    text-align: center;
    padding: 40px;
    
}

h2 {
    display: block;
    font-size: 25px;
    color: #0d141c;
    margin-bottom: 35px;
    text-align: center;

}

.input-container input {
    text-align: left;
    margin-bottom: 20px;
    border-radius: 8px;
    border: none;
    width: 350px;
    height: 45px;
    background-color:  #e8edf5;

}

.input-container label {
   display: block;
   margin-bottom: 5px;
   text-align: left;
   font-size: 16px;
   color: #2a3138;

}

.input-container ::placeholder{
        color: #5e80a7;
        display: block;
        padding-left: 10px;
        
}

.login-button {
    background-color: #0a78ed;
    color: #f7fafc;
    border-radius: 30px;
    border: none;
    width: 350px;
    height: 40px;
}

.link-container {
    color: #5f81a8;
    font-size: 15px;
    display: block;
    margin-top: 18px;
    text-align: center;
}

.link-container > a {
    color:#5f81a8

}